
.main-img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.main-img-gallery article {
    position: relative;
}

.main-img-gallery span {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    background-color: aliceblue;
    padding: 0.2em 0.4em;
    /* transform: translate(-50%, -50%); */
}