.sidebar-navigation-content {
    display: block;
    color: hsla(0, 0%, 100%, 0.9);
    padding: 1.5em 1em;
    flex-grow: 1;

}


.tab-content-title {
    display: block;
    margin-bottom: 8px;
}

.add-a-heading {
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: 0em;
    text-align: start;
    width: 100%;
    color: var(--_T63JA);
    background: #38393a;
    transition: background-color .15s ease-in-out;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px
}

.add-a-subheading {
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 0em;
    text-align: start;
    width: 100%;
    color: var(--_T63JA);
    background: #38393a;
    transition: background-color .15s ease-in-out;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px
}

.add-a-little-text {
    font-weight: bolder;
    font-size: 0.75rem;
    letter-spacing: 0em;
    text-align: start;
    width: 100%;
    color: var(--_T63JA);
    background: #38393a;
    transition: background-color .15s ease-in-out;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px
}

.tab-content .text-input-container {
    margin-bottom: 0.5em;
}

.tab-content .input-txt {
    margin-bottom: 2rem;
    padding: 0.7em;
    width: 100%;
    font-size: 1.5em;

}

.sidebar-navigation-content.minimize-side-bar {
    transform: translateX(-380px);
}

.main-container.minimize-side-bar {
    left: 80px;
}

.sidebar-navigation-content .elements img {
    width: 50px;
    aspect-ratio: 1/1;
}


.tab-content-others .shareMeme button {
    background: none;
    border: none;
    color: #FAF9F6;
    font-size: 1.2em;
}
.tab-content-others .shareMeme button:hover{
   transform: scale(1.05);
   cursor: pointer;
}

.tab-content-others .shareMeme span {
    margin-top: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 100px;
    min-height: 60px;
    background-color: #efefef;
    border-radius: 15px;
}

.tab-content-others .shareMeme svg{
    padding: 1em;
    width: 70px;
    height: 70px;
}



.tab-content-others .shareMeme .downloadImage {
    background: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #efefef;
    color: #252627;
    font-size: 1em;
    margin: 1em;
    margin-inline-start: 0;
}

.tab-content-others .shareMeme .social-share{
    display: flex;
    justify-content: space-around;
    align-items: center;
}